<div id="steambannercontainer">
    <div id="steambannerleft">
        <h2>START YOUR <b>RACE ON STEAM</b></h2>
        <a class="steambutton" target="_blank" href="https://store.steampowered.com/app/916440/Anno_1800/">STEAM
            <div class="steamlogo"></div>
        </a>
    </div>
    <div id="steambannerright">
        <a class="steambutton" target="_blank" href="https://store.steampowered.com/app/916440/Anno_1800/">STEAM
            <div class="steamlogo"></div>
        </a>
    </div>
</div>
