<div id="footercontainer">
    <div id="author">
        <a href="https://f13rce.net" target="_blank "><h2>F13RCE.NET</h2></a>
        <p>© 2022 - All rights reserved</p>
    </div>
    <div id="socialscontainer">
        <a class="social" target="_blank" href="https://twitter.com/BackseatChamps">
            <div class="twitter icon"></div>
        </a>
        <a class="social" target="_blank" href="https://youtube.com/c/f13rce">
            <div class="youtube icon"></div>
        </a>
        <a class="presskit" target="_blank" href="https://www.youtube.com/watch?v=x9zpjvVEfSo">
            Press Kit
        </a>
    </div>
</div>
