@import '../../variables.scss';

#authcontainer{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../../assets/authbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    #authbox{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 4vh;
        width: 550px;
        height: 430px;
        background: $darkbg;
        border-radius: 20px;
    }

    app-footer{
        width:100%;
    }
}