.battery1{
    height: 42px;
    width: 42px;
    background:red;
}
.battery2{

}
.battery3{

}

.tire1{
    
}
.tire2{

}
.tire3{

}
.tire4{

}

.engine1{
    
}
.engine2{

}
.engine3{

}
.engine4{

}

.passive1{
    
}
.passive2{

}
.passive3{

}