#remotecontainer{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../../assets/remotebg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}