<div id="remotecontainer">
    <div class="backseatlogo"></div>
    <div id="remotebox">
        <div id="usersection">
            <div id="userpicture"></div>
            <div id="remotetoptext">
                <div id="remotetitle">Remote Play</div>
                <div id="remotesubmessage"><h2>Good luck!</h2>🤞</div>
            </div>
        </div>
        <div id="statussection">
            <h1>Status - Current Build</h1>
            <div class="dialrow">
                <div class="dial battery1 selected"></div>
                <div class="dial tire selected"></div>
                <div class="dial engine selected"></div>
                <div class="dial passive selected"></div>
            </div>
        </div>
        <div id="batterysection">
            <div id="controlstitlesection">
                <h1>Controls</h1>
                <h2>Battery Economy 🔋</h2>
            </div>
            <div class="dialrow">
                <div class="dial selected">
                    <div class="battery1 icon iconselected"></div>
                </div>
                <div class="dial battery2 unselected"></div>
                <div class="dial battery3 unselected"></div>
            </div>
        </div>
        <div id="tiresection">
            <h2>Tire Wear Management ♟</h2>
            <h3>Requires a pit stop</h3>
            <div class="dialrow">
                <div class="dial tire1 unselected"></div>
                <div class="dial tire2 selected"></div>
                <div class="dial tire3 unselected"></div>
                <div class="dial tire4 selected"></div>
            </div>
        </div>
        <div id="enginesection">
            <h2>Engine Type 🚂</h2>
            <div class="dialrow">
                <div class="dial engine1 selected"></div>
                <div class="dial engine2 unselected"></div>
                <div class="dial engine3 unselected"></div>
                <div class="dial engine4 unselected"></div>
            </div>
        </div>
        <div id="passivesection">
            <h2>Passive Effect 🏎</h2>
            <div class="dialrow">
                <div class="dial passive1 selected"></div>
                <div class="dial passive2 unselected"></div>
                <div class="dial passive3 unselected"></div>
            </div>
        </div>
    </div>
    <div id="popupboxes">
        <!-- <div class="lapcount">
            Lap 3 of 12
        </div> -->
        <div class="popup status">
            Setup phase: Choose your loadout
        </div>
        <div class="popup advice">
            Engine Type and Passive Effect cannot be changed during a race, choose wisely!
        </div>
    </div>
</div>