<div id="remotecontainer">
    <div class="backseatlogo"></div>
    <div id="remotebox">
        <div id="usersection">
            <div id="userpicture"></div>
            <div id="remotetoptext">
                <div id="remotetitle">Remote Play</div>
                <div id="remotesubmessage"><h2>Good luck!</h2>🤞</div>
            </div>
        </div>
        <div id="statussection">
            <h1>Status - Current Build</h1>
            <div class="dialrow">
                <div class="dial selected">
                    <div class="battery1 icon iconselected"></div>
                </div>
                <div class="dial selected">
                    <div class="tire4 icon iconselected"></div>
                </div>
                <div class="dial selected">
                    <div class="engine1 icon iconselected"></div>
                </div>
                <div class="dial selected">
                    <div class="passive2 icon iconselected"></div>
                </div>
            </div>
        </div>
        <div id="batterysection">
            <div id="controlstitlesection">
                <h1>Controls</h1>
                <h2>Battery Economy 🔋</h2>
            </div>
            <div class="dialrow">
                <div class="dial selected">
                    <div class="battery1 icon" [ngClass]="{'iconselected': !toggle}"></div>
                </div>
                <div (click)="change()" class="dial">
                    <div class="battery2 icon" [ngClass]="{'iconselected': !toggle}"></div> <!-- Adds the class iconselected on click -->
                </div>
                <div (click)="change()" class="dial">
                    <div class="battery3 icon" [ngClass]="{'iconselected': !toggle}"></div>
                </div>
            </div>
        </div>
        <div id="tiresection">
            <h2>Tire Wear Management ♟</h2>
            <h3>Requires a pit stop</h3>
            <div class="dialrow">
                <div (click)="change()" class="dial">
                    <div class="tire1 icon" [ngClass]="{'iconselected': !toggle}"></div>
                </div>
                <div (click)="change()" class="dial">
                    <div class="tire2 icon" [ngClass]="{'iconselected': !toggle}"></div>
                </div>
                <div (click)="change()" class="dial">
                    <div class="tire3 icon" [ngClass]="{'iconselected': !toggle}"></div>
                </div>
                <div class="dial selected">
                    <div class="tire4 icon" [ngClass]="{'iconselected': !toggle}"></div>
                </div>
            </div>
        </div>
        <div id="enginesection">
            <h2>Engine Type 🚂</h2>
            <div class="dialrow">
                <div (click)="change()" class="dial selected">
                    <div class="engine1 icon" [ngClass]="{'iconselected': !toggle}"></div>
                </div>
                <div (click)="change()" class="dial">
                    <div class="engine2 icon" [ngClass]="{'iconselected': !toggle}"></div>
                </div>
                <div (click)="change()" class="dial">
                    <div class="engine3 icon" [ngClass]="{'iconselected': !toggle}"></div>
                </div>
                <div (click)="change()" class="dial">
                    <div class="engine4 icon" [ngClass]="{'iconselected': !toggle}"></div>
                </div>
            </div>
        </div>
        <div id="passivesection">
            <h2>Passive Effect 🏎</h2>
            <div class="dialrow">
                <div (click)="change()" class="dial">
                    <div class="passive1 icon" [ngClass]="{'iconselected': !toggle}"></div>
                </div>
                <div (click)="change()" class="dial selected">
                    <div class="passive2 icon" [ngClass]="{'iconselected': !toggle}"></div>
                </div>
                <div (click)="change()" class="dial">
                    <div class="passive3 icon" [ngClass]="{'iconselected': !toggle}"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="popupboxes">
        <!-- <div class="lapcount">
            Lap 3 of 12
        </div> -->
        <div class="popup status">
            Setup phase: Choose your loadout
        </div>
        <div class="popup advice">
            Engine Type and Passive Effect cannot be changed during a race, choose wisely!
        </div>
    </div>
</div>