<div id="remotecontainer">
    <div class="backseatlogo"></div>
    <div id="remotebox">
        <div id="usersection">
            <div id="userpicture"></div>
            <div id="remotetoptext">
                <div id="remotetitle">Remote Play</div>
                <div id="remotesubmessage">Good luck! 🤞</div>
            </div>
        </div>
        <div id="statussection">
            Status - Current Build
            <div class="dialrow">
                <div class="dial battery selected"></div>
                <div class="dial tire selected"></div>
                <div class="dial engine selected"></div>
                <div class="dial passive selected"></div>
            </div>
        </div>
    </div>
    <div id="popupboxes">
        <!-- <div class="lapcount">
            Lap 3 of 12
        </div> -->
        <div class="popup status">
            Setup phase: Choose your loadout
        </div>
        <div class="popup advice">
            Engine Type and Passive Effect cannot be changed during a race, choose wisely!
        </div>
    </div>
</div>