$playyellow: #F7A419;
$playtextbrown: #7B510A;
$darkbg: #222224;
$lightbg: #F3F3F3;
$lightgrey: #474747;

$usercolor: #DD3838;
$userglow: 0px 0px 20px 7px rgba(255, 92, 0, 0.1);

$remotebg: #171718;
$inactive: #939393;
$subpassive: #9aa788;
$dialbg: radial-gradient(50% 50% at 50% 50%, #28292C 0%, #252629 100%, #252629 100%, #252629 100%);

$lightshadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$textglow: 0px 0px 4px rgba(255, 255, 255, 0.25);